body{
  text-align: center;
}
#day-mode{
  margin-top: 30px;
  display: flex;
  margin-right: 30px;
  justify-content: end;
}
.mode-day-button{
  margin-left: -32px;
  background-color: black;
}
.mode-night-button{
  margin-left: -67px;
  border-radius: 0px solid;
  background-color: white;
}
#mode{

  width: 30px;
  height: 20px;
  border: 4px solid;
  border-radius: 10px;

}
#input{
  margin-top: 60px;
 width: 400px;
}
button{
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.main-body-night{
  background-color:black;
  color: white;

}
.main-body-day{
  background-color: white;
  color: black;
}
.checkBox{
  display: inline;
  margin-left: 5px;
}
#inline{
  display: grid;
  grid-template-columns: 50px 40px auto;
  margin-top: 20px;

}
#delete{
  width: 30px;
  height: 30px;
}
#checkboxinput{
  margin: 10px;
}